{:kotoba.app/id "cloud.itonami.isic-7729", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihqj3zdqwkudfdt4txshlafzwnz7uirtg5jshq3qmwitjg3hlssk4", :kotoba.app/embed-url "ipfs://bafkreihqj3zdqwkudfdt4txshlafzwnz7uirtg5jshq3qmwitjg3hlssk4", :published {:archive "https://kotobase.net/ipfs/bafkreihqj3zdqwkudfdt4txshlafzwnz7uirtg5jshq3qmwitjg3hlssk4", :size 72961, :put-status 201, :get-status 200, :at "2026-08-15T13:50:09.630Z"}}
